.cssload-container {
  text-align: center;
  position: absolute;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cssload-speeding-wheel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 49px;
  height: 49px;
  margin: 0 auto;
  border: 3px solid #19abb0;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 300ms infinite linear;
  -o-animation: cssload-spin 300ms infinite linear;
  -ms-animation: cssload-spin 300ms infinite linear;
  -webkit-animation: cssload-spin 300ms infinite linear;
  -moz-animation: cssload-spin 300ms infinite linear;
}

@keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

